/* variables-Colores */
:root {
--PRIMARY: #0B7A75;
--SECONDARY: #3cb371;
--SUCCESS: #ef8b1e;
}
.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar{
    background-color: #ffffff!important;
}

/* #estiloDias-Disabled */
div.rmdp-day.rmdp-disabled > span{
    background-color: #d0d0d0!important;
    color: #ffffff!important;
}
/* #estiloDias-Aviable */
div.rmdp-day> span.sd{
    background-color: var(--SECONDARY)!important;
    color: #ffffff!important;
}
/* #estiloDias-Selected */
div.rmdp-day.rmdp-selected > span.sd{
    background-color: var(--SUCCESS)!important;
    color: #ffffff!important;
}
/* #estiloDias-hover */
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: var(--PRIMARY)!important;
    color: #fff!important;
}
/* #estiloMeses-Aviable */
.rmdp-ym .rmdp-day>span {
    background-color: var(--SECONDARY)!important;
    color: #fff!important;
    box-shadow: 0 0 3px #8798ad!important;
}
/* #estiloMeses-Selected */
.rmdp-day.rmdp-selected > span{
    background-color: var(--SUCCESS)!important;
    color: #fff!important;
    box-shadow: 0 0 3px #8798ad!important;
}
/* #estiloMeses-Selected */
.rmdp-day.rmdp-selected span:not(.highlight){
    background-color: var(--SUCCESS)!important;
    color: #fff!important;
    box-shadow: 0 0 3px #8798ad!important;
}
/* #estiloDiasSemana*/
.rmdp-day span, .rmdp-week-day {
    color: var(--PRIMARY)!important;
    background-color: #fff!important;
}
/* #estiloFlechas */
.rmdp-arrow-container >i.rmdp-arrow {
    border-color: var(--PRIMARY);
}
.rmdp-arrow.disabled .rmdp-arrow, .rmdp-arrow-container.disabled:hover .rmdp-arrow {
    border: solid gray!important;
    border-width: 0 2px 2px 0!important;
}
/* #estiloFlechas-hover */
.rmdp-arrow-container:hover{
    background-color: var(--PRIMARY)!important;
    border-color:#fff!important;
}
.rmdp-arrow-container.disabled{
    background-color: transparent!important;
}