div.rmdp-day.rmdp-disabled > span{
    background-color: #d0d0d0;
    color: #ffffff;
}

div.rmdp-day > span.sd{
    background-color: #5DA8FF;
    color: #ffffff;
}
div.rmdp-day.rmdp-selected > span.sd{
    background-color: #90C104;
    color: #ffffff;
}