button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.Mui-disabled.css-1vusrgy-MuiButtonBase-root-MuiButton-root{
    background-color: #808080;
    color: #e5e5e5;
}
p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows{
    display: none;
}